/* #modal {

} */

.closebutton-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 0 0;
}
.x-button {
    font-size: 10px;
    font-weight: 800;
    padding: 4px 6px;
    border: 2px solid;
    border-radius: 25px;
}

.x-button:active {
    transform: translateY(3px);
}

.modal-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding:  0px 15px 20px 15px;
}

.title {
    margin: 1rem 0 .313rem 0;
}

.imagebutton-container {
    width: fit-content;
}

.confirm-image {
    padding: 0;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

.button-container {
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}

.button-container > button {
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: rgba(102, 152, 183, 1);
    box-shadow: 0 5px rgba(3, 12, 15, .6); 
    color: rgba(3, 12, 15, 1); 
}

.button-container > button:active {
    border: 1px solid;
    border-radius: 15x;
    padding: 5px 15px;
    background-color: rgba(102, 152, 183, 1);
    box-shadow: none;
    color: rgba(3, 12, 15, 1); 

    transform: translateY(5px);
}

@media only screen and (max-width: 380px) {
    .confirm-image {
        height: 325px;
    }
}