/* #modal {

} */

.modal-content {
    padding: 10px;
}

.closebutton-container {
    display: flex;
    justify-content: flex-end;
}

.x-button {
    font-size: 20px;
    font-weight: 800;
    padding: 5px 10px;
    border: 2px solid;
    border-radius: 50%;
}

.x-button::after {

}

.title {
    margin: 0.313rem 0 1.25rem 0;
}

.imagebutton-container {

}

.confirm-image {
    padding: 0;
}

.button-container {
    display:flex;
    gap: 30px;
    justify-content: center;
    margin: 1rem auto;
}

.button-container > button {
    border: 1px solid;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: black;
    box-shadow: 0 5px red;
    color: antiquewhite;
}

.button-container > button:active {
    border: 1px solid;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: black;
    box-shadow: none;
    color: antiquewhite;

    transform: translateY(5px);
}