* {
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    font-family: "Raleway";
    font-weight: 800;
    color: #2C3121;
    letter-spacing: .01rem;
}

.heading {
    font-weight: 700;
    letter-spacing: 1px;
    margin: 3rem 0 1.875rem 0;
}

.heading-desc {
    font-weight: 600;
    padding: 0 6.875rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1rem 0 2.5rem 0;
    padding: 2rem 3rem;
    justify-content: center;
}

.flex-items {
    flex: 1 40%;
    padding: 10px;
    font-size: 12px;
    text-align: left;
    letter-spacing: .2px;
}

.img-box {
    margin-bottom: 10px;
    background-color: gray;
    width: 100px;
    height: 100px;
}

.flex-container img {
    padding: 0;
    width: 100px;
    height: 100px;
}